
      </section>
      <section class="featured__container container" id="Blogs">
        <h3 class="section__title">Our Latest Blogs</h3>
        <div class="testimonial__container container">
            <div class="testimonial__swiper swiper">
                <div class="swiper-wrapper">
    
                    <article class="blog__card swiper-slide">
                        <img class="blog__img" src="https://www.motherhoodindia.com/wp-content/uploads/2023/09/Nurturing.png" alt="Healthy Pregnancy Tips">
                        <h2 class="blog__title">Healthy Eating During Pregnancy</h2>
                        <p class="blog__description">
                            Discover the best foods to eat during pregnancy to keep both mom and baby healthy.
                        </p>
                        <a href="https://www.motherhoodindia.com/nurturing-your-pregnancy-a-guide-to-healthy-eating-habits/" target="_blank" class="blog__link">Read More</a>
                    </article>
    
                    <article class="blog__card swiper-slide">
                        <img class="blog__img" src="https://www.pelvichealthnj.com/wp-content/uploads/2024/11/Safe-and-Effective-Exercises-for-Pregnant-Mommies.jpg" alt="Safe Pregnancy Exercises">
                        <h2 class="blog__title">Safe Pregnancy Exercises</h2>
                        <p class="blog__description">
                            Learn about safe and effective exercises that help maintain fitness and reduce pregnancy discomfort.
                        </p>
                        <a href="https://www.pelvichealthnj.com/pelvic-floor-blog/safe-and-effective-exercises-for-pregnant-mommies" target="_blank" class="blog__link">Read More</a>
                    </article>
    
                    <article class="blog__card swiper-slide">
                        <img class="blog__img" src="https://www.sciatica.com/wp-content/uploads/2023/05/01-Back-pain-management-during-pregnancy-7e5c7c29-1024x512.jpeg" alt="Managing Pregnancy Pain">
                        <h2 class="blog__title">Managing Pregnancy Pain</h2>
                        <p class="blog__description">
                            Effective strategies to manage and alleviate pregnancy-related pains for a more comfortable journey.
                        </p>
                        <a href="https://www.benchmarkpt.com/blog/managing-pregnancy-pain-the-role-of-prenatal-physical-therapy/" target="_blank" class="blog__link">Read More</a>
                    </article>
    
                </div>
            </div>
        </div>
    </section>
    