  <!--==================== FEATURED ====================-->
    <section class="featured section" id="featured">
      <h2 class="section__title">Resources</h2>

      <div class="featured__container container">
      
        <div class="featured__swiper swiper">
          <div class="swiper-wrapper">
            <article class="featured__card swiper-slide">
              <img
                src="img/book1-img.jpg"
                alt="image"
                class="featured__img"
              />

              <h2 class="featured__title">What and When</h2>
              <div class="featured__prices">
                <span class="featured__discount">The All in-one-Guide </span>
              </div>

               <!-- Add an event listener to the button -->
<button class="button" id="readpdf1">Read Me</button>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Find the button by its ID
        var readPdfButton = document.getElementById('readpdf1');

        // Attach click event listener to the button
        readPdfButton.addEventListener('click', function() {
            // Replace 'path_to_your_pdf_file.pdf' with the actual path to your PDF file
            var pdfUrl = 'PDFs/ww.pdf';

            // Open PDF in a new window
            window.open(pdfUrl, '_blank');
        });
    });
</script>

              <div class="featured__actions">
                <button><i class="ri-search-line"></i></button>
                <button><i class="ri-heart-3-line"></i></button>
                <button><i class="ri-eye-line"></i></button>
              </div>
            </article>

            <article class="featured__card swiper-slide">
              <img
                src="img/book2-img.jpg"
                alt="image"
                class="featured__img"
              />

              <h2 class="featured__title">The No-Cry</h2>
              <div class="featured__prices">
                <span class="featured__discount">Baby Sleeping Solution</span>
              </div>

       
               <!-- Add an event listener to the button -->
    <button class="button" id="readpdf2">No-Cry</button>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    // Find the button by its ID
    var readPdf2Button = document.getElementById('readpdf2');

    // Attach click event listener to the button
    readPdf2Button.addEventListener('click', function() {
        // Debugging: Log to the console to check if the click event is triggered
        console.log('Button clicked!');

        // Replace 'path_to_your_pdf_file.pdf' with the actual path to your PDF file
        var pdfUrl2 = 'PDFs/cry.pdf';

        // Open PDF in a new window
        window.open(pdfUrl2, '_blank');
    });
});
</script>

              <div class="featured__actions">
                <button><i class="ri-search-line"></i></button>
                <button><i class="ri-heart-3-line"></i></button>
                <button><i class="ri-eye-line"></i></button>
              </div>
            </article>

            <article class="featured__card swiper-slide">
              <img
                src="img/book3-img.jpg"
                alt="image"
                class="featured__img"
              />

              <h2 class="featured__title">Cribsheet</h2>
              <div class="featured__prices">
                <span class="featured__discount">A Data-Drive Guide</span>
              </div>

              <button class="button" id="readpdf3">Read Me</button>
              <div class="featured__actions">
                <button><i class="ri-search-line"></i></button>
                <button><i class="ri-heart-3-line"></i></button>
                <button><i class="ri-eye-line"></i></button>
              </div>
            </article>

            <article class="featured__card swiper-slide">
              <img
                src="img/book4-img.jpg"
                alt="image"
                class="featured__img"
              />

              <h2 class="featured__title">The Happiest Baby</h2>
              <div class="featured__prices">
                <span class="featured__discount">The New Way to Calm Crying</span>
                
              </div>

              <button class="button" id="readpdf4">Read Me</button>
              <div class="featured__actions">
                <button><i class="ri-search-line"></i></button>
                <button><i class="ri-heart-3-line"></i></button>
                <button><i class="ri-eye-line"></i></button>
              </div>
            </article>
          </div>

          <div class="swiper-button-prev">
            <i class="ri-arrow-left-s-line"></i>
          </div>
          <div class="swiper-button-next">
            <i class="ri-arrow-right-s-line"></i>
          </div>
        </div>
      </div>


<div class="featured__container container">
    <h3 class="section__title">Recipes</h3>
    <div class="testimonial__container container">
      <div class="testimonial__swiper swiper">
        <div class="swiper-wrapper">

          <article class="testimonial__card swiper-slide">
            <img
              src="img/recipe-img-01.jpg"
              alt="image"
              class="testimonial__img"
            />

            <h2 class="testimonial__title">Grilled Chicken with Farro & Roasted
              Cauliflower</h2>
            <p class="testimonial__description">
              Serve the chicken over the farro and vegetables. Sprinkle with
              mint and pine nuts. Serve with lemon wedges, if desired.
            </p>

            <div class="testimonial__stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-fill"></i>
            </div>
          </article>

          <article class="testimonial__card swiper-slide">
            <img
              src="img/recipe2.jpg"
              alt="image"
              class="testimonial__img"
            />

            <h2 class="testimonial__title">Grilled Chicken with Farro & Roasted
              Cauliflower</h2>
            <p class="testimonial__description">
              Serve the chicken over the farro and vegetables. Sprinkle with
              mint and pine nuts. Serve with lemon wedges, if desired.
            </p>

            <div class="testimonial__stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-fill"></i>
            </div>
          </article>

          <article class="testimonial__card swiper-slide">
            <img
              src="img/recipe3.jpg"
              alt="image"
              class="testimonial__img"
            />

            <h2 class="testimonial__title">Grilled Chicken with Farro & Roasted
              Cauliflower</h2>
            <p class="testimonial__description">
              Serve the chicken over the farro and vegetables. Sprinkle with
              mint and pine nuts. Serve with lemon wedges, if desired.
            </p>

            <div class="testimonial__stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-fill"></i>
            </div>
          </article>

          <article class="testimonial__card swiper-slide">
            <img
              src="img/recipe4.jpg"
              alt="image"
              class="testimonial__img"
            />

            <h2 class="testimonial__title">Grilled Chicken with Farro & Roasted
              Cauliflower</h2>
            <p class="testimonial__description">
              Serve the chicken over the farro and vegetables. Sprinkle with
              mint and pine nuts. Serve with lemon wedges, if desired.
            </p>

            <div class="testimonial__stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-fill"></i>
            </div>
          </article>

          
          <article class="testimonial__card swiper-slide">
            <img
              src="img/recipe5.jpg"
              alt="image"
              class="testimonial__img"
            />

            <h2 class="testimonial__title">Grilled Chicken with Farro & Roasted
              Cauliflower</h2>
            <p class="testimonial__description">
              Serve the chicken over the farro and vegetables. Sprinkle with
              mint and pine nuts. Serve with lemon wedges, if desired.
            </p>

            <div class="testimonial__stars">
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-fill"></i>
              <i class="ri-star-half-fill"></i>
            </div>
          </article>

        </div>
      </div>
    </div>
    <br /><br />
    <br /><br />
  </div>




</div>



{{!-- 
<div class="featured__container container">
<h3>Videos</h3> --}}




</div>






    </section>