<!--==================== FOOTER ====================-->
  <footer class="footer">
    <div class="footer__container container grid">
      <div>
        <a href="#" class="footer__log">
          <i class="ri-parent-line"></i> Nurture Nest
        </a>

        <p class="footer__description">
          Empowering journeys from <br>bump to baby and beyond...
        </p>
      </div>

      <div class="footer__data grid">
        <div>
          <h3 class="footer__title">About</h3>
          <ul class="footer__links">
            <li>
              <a href="#" class="footer__link">Awards</a>
            </li>

            <li>
              <a href="#" class="footer__link">FAQs</a>
            </li>

            <li>
              <a href="#" class="footer__link">Privacy policy</a>
            </li>

            <li>
              <a href="#" class="footer__link">Terms of services</a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="footer__title">Company</h3>
          <ul class="footer__links">
            <li>
              <a href="#" class="footer__link"> Blogs</a>
            </li>

            <li>
              <a href="#" class="footer__link"> Community</a>
            </li>

            <li>
              <a href="#" class="footer__link">Our team</a>
            </li>

            <li>
              <a href="#" class="footer__link"> Help center</a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="footer__title">Contact</h3>
          <ul class="footer__links">
            <li>
              <address class="footer__info">
                Av. Hacienda <br />
                Lima 4321, Perú
              </address>
            </li>

            <li>
              <address class="footer__info">
                e.book@email.com <br />
                0987-654-321
              </address>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="footer__title">Social</h3>

          <div class="footer__social">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer__social-link"
              ><i class="ri-facebook-circle-line"></i
            ></a>

            <a
              href=" https://www.instagram.com/"
              target="_blank"
              class="footer__social-link"
            >
              <i class="ri-instagram-line"></i>
            </a>

            <a
              href=" https://twitter.com/"
              target="_blank"
              class="footer__social-link"
            >
              <i class="ri-twitter-x-line"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <span class="footer__copy">
      &#169; All Rights Reserved By Nurture Nest
    </span>
  </footer>