  <!--==================== HEADER ====================-->
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">
        <i class="ri-parent-line"></i> Nurture Nest
      </a>

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#home" class="nav__link active-link">
              <i class="ri-home-line"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#featured" class="nav__link">
              <i class="ri-book-3-line"></i>
              <span>Resources</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#blogs" class="nav__link">
              <i class="ri-price-tag-3-line"></i>
              <span>Blogs</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#testimonial" class="nav__link">
              <i class="ri-bookmark-line"></i>
              <span>Reviews</span>
            </a>
          </li>

          <li class="nav__item">
            <a href="#contact" class="nav__link">
              <i class="ri-message-3-line"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>

        <div class="nav__actions">
   
      <!-- Search button -->
      <i class="ri-search-line search-button" id="search-button"></i>

      <!-- Theme button -->
      <i class="ri-moon-line change-theme" id="theme-button"></i>

      <!-- Login button -->
      <i class="ri-user-line login-button" id="login-button"></i>

         <!-- Username display -->
      <span id="username-display" style="display: none;"></span>

      <!-- Add this HTML code where you want the logout button to appear -->
      <button type="button" id="logout-button" class="logout__button button" style="display: none;">Log Out</button>
    </div>
   </nav>
  </header>