<!--==================== HOME ====================-->
    <section class="home section" id="home">
      <div class="home__container container grid">
        <div class="home__data">
          <h1 class="home__title">
            Empowering Parenthood: <br />
            Advice, Insights, and Services for Every Step!
          </h1>

          <p class="home__description">
            Your go-to hub for expert parenting advice, diverse services, and insightful blogs-empowering your journey into parenthood with confidence and support
          </p>

          <a href="#" class="button">Learn More</a>
          <a href="#contact" class="button">Contact</a>
        </div>


        <div class="home__images">
         
              
              <img src="img/image.png" width="100%" alt="image" />
            
        
        </div>
      </div>
    </section>