
    <!--==================== JOIN ====================-->
    <section class="join section">
      <div class="join__container">
        <img src="img/join-bg.jpg" alt="image" class="join__bg" />

        <div class="join__data container grid">
          <h2 class="join__title section__title">
            Subscribe To Receive <br />
            The Latest Updates
          </h2>

      <form id="subscribeForm" class="join__form">
        <input
          id="emailInput"
          type="email"
          placeholder="Enter email"
          class="join__input"
          required
        />
        <button type="submit" class="join__button button">
          Subscribe
        </button>
          </form>
        </div>
      </div>
    </section>
