
   <!--==================== HOME ====================-->
   <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__data">
        <h1 class="home__title">
          🌈 Inclusive Parenthood: <br />
          Support for Every LGBTQ+ Journey
        </h1>

        <p class="home__description">
          Your trusted resource for LGBTQ+ parenting – expert guidance, inclusive services, and inspiring stories to empower your journey, no matter how you build your family.
        </p>

        <a href="#" class="button">Learn More</a>
        <a href="#contact" class="button">Contact</a>
      </div>


      <div class="home__images">
       
            
            <img src="img/lgbtq_img.png" width="100%" alt="image" />
          
      
      </div>
    </div>
  </section>
