 <!--==================== SERVICES ====================-->
    <section class="services section">
      <div class="services__container container grid">
        <article class="services__card">
          <i class="ri-file-pdf-2-line"></i>
          <h3 class="services__title">Free PDFs</h3>
          <p class="services__description">No Additional Charges</p>
        </article>

        <article class="services__card">
          <i class="ri-community-line"></i>
          <h3 class="services__title">Community Support</h3>
          <p class="services__description">100% Via Experts</p>
        </article>

        <article class="services__card">
          <i class="ri-customer-service-2-line"></i>
          <h3 class="services__title">24/7 Support</h3>
          <p class="services__description">Call us anytime</p>
        </article>
      </div>
    </section>
