 <!--==================== TESTIMONIAL ====================-->
    <section class="testimonial section" id="testimonial">
      <h2 class="section__title">Customer Opinions</h2>

      <div class="testimonial__container container">
        <div class="testimonial__swiper swiper">
          <div class="swiper-wrapper">
          
            <article class="testimonial__card swiper-slide">
              <img
                src="img/testimonial-perfil-1.png"
                alt="image"
                class="testimonial__img"
              />

              <h2 class="testimonial__title">Emma</h2>
              <p class="testimonial__description">
                The best website to buy books, the purchase is very easy to
                make and has great discounts.
              </p>

              <div class="testimonial__stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
              </div>
            </article>
            
            <article class="testimonial__card swiper-slide">
              <img
               src="img/testimonial-perfil-3.png"
                alt="image"
                class="testimonial__img"
              />

              <h2 class="testimonial__title">Loz</h2>
              <p class="testimonial__description">
                The best website to buy books, the purchase is very easy to
                make and has great discounts.
              </p>

              <div class="testimonial__stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
              </div>
            </article>
            
            <article class="testimonial__card swiper-slide">
              <img
               src="img/testimonial-perfil-4.png"
                alt="image"
                class="testimonial__img"
              />

              <h2 class="testimonial__title">Rial</h2>
              <p class="testimonial__description">
                The best website to buy books, the purchase is very easy to
                make and has great discounts.
              </p>

              <div class="testimonial__stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
              </div>
            </article>
            
            <article class="testimonial__card swiper-slide">
              <img
               src="img/testimonial-perfil-2.png"
                alt="image"
                class="testimonial__img"
              />

              <h2 class="testimonial__title">Rock</h2>
              <p class="testimonial__description">
                The best website to buy books, the purchase is very easy to
                make and has great discounts.
              </p>

              <div class="testimonial__stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-half-fill"></i>
              </div>
            </article>

          </div>
        </div>
      </div>
      <br><br>
      <br><br>
    </section>